        body{
            background-size: cover;
            background-color: #f0ebf8;
            margin:auto
        }

        select{
            height: 50px;
            width: 30%;
            border-color: rgb(228, 228, 228);
        }

        form{
            margin: auto;
            width: 640px;
        }

        .answer{
            margin-bottom: 12px;
            margin:auto;
            padding: 24px;
            border:rgb(228, 228, 228) solid 1px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: white;
            font-family: '微軟正黑體';
        }
        
        .country{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    
        .summitButton{
            font-size: 15px;
            width: 70px;
            height: 35px;
            background-color: #673AB7;
            color: white;
            border: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
        .answerColor{
            height: 170px;
        }

        .resetButton{
            font-size: 16px;
            color: #673AB7;
            font-family: sans-serif;
            border: none;                /* 去除所有邊框 */
            outline: none;               /* 去除點擊時的藍色框線 */
            background: transparent;
            float: right;
        }

        .clearButton{
            font-size: 14px;
            padding: 8px 8px;
            color: rgb(95,99,104);
            border: none;
            background: transparent;
            cursor: pointer;
            margin-top: 15px;
            transition: background-color 0.3s ease;
            outline: none;
            float:right;
        }

        .clearButton:hover{
            background-color: rgb(229, 229, 229);
        }
        
        .FormButton{
            margin: auto;
        }
        
        .pageEnd{
            margin: auto;
            width: 640px;
            text-align: center;
            padding: 24px;
        }

        .formTitle{
            margin: auto;
            width: 640px;
            border:rgb(228, 228, 228) solid 1px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: white;
            font-family: '微軟正黑體';
        }

        .titleColor{
            height: 10px;
            background-color: #673AB7;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .title{
            border: 1px solid black;
            border-collapse: separate;
            width: 50%;
            height: 70px;
            margin: auto;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        .underline-input {
            border: none;                /* 去除所有邊框 */
            border-bottom: 2px solid rgb(228, 228, 228); /* 僅保留底線，可自訂顏色與寬度 */
            outline: none;               /* 去除點擊時的藍色框線 */
            padding: 5px 0;              /* 調整文字與底線的距離 */
            background: transparent;     /* 背景透明 */
        }
